<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/.bootstrapped_electra</string>
	<string>/Applications/Anemone.app</string>
	<string>/Applications/Cydia.app</string>
	<string>/Applications/SafeMode.app</string>
	<string>/Applications/Sileo.app</string>
	<string>/Applications/Zebra.app</string>
	<string>/bin/bash</string>
	<string>/bin/bunzip2</string>
	<string>/bin/bzip2</string>
	<string>/bin/cat</string>
	<string>/bin/chgrp</string>
	<string>/bin/chmod</string>
	<string>/bin/chown</string>
	<string>/bin/cp</string>
	<string>/bin/grep</string>
	<string>/bin/gzip</string>
	<string>/bin/kill</string>
	<string>/bin/ln</string>
	<string>/bin/ls</string>
	<string>/bin/mkdir</string>
	<string>/bin/mv</string>
	<string>/bin/sed</string>
	<string>/bin/sh</string>
	<string>/bin/su</string>
	<string>/bin/tar</string>
	<string>/binpack</string>
	<string>/bootstrap</string>
	<string>/chimera</string>
	<string>/electra</string>
	<string>/etc/apt</string>
	<string>/etc/profile</string>
	<string>/jb</string>
	<string>/Library/dpkg/info/com.inoahdev.launchinsafemode.list</string>
	<string>/Library/dpkg/info/com.inoahdev.launchinsafemode.md5sums</string>
	<string>/Library/Frameworks/CydiaSubstrate.framework</string>
	<string>/Library/MobileSubstrate/DynamicLibraries/FlyJB.dylb</string>
	<string>/Library/MobileSubstrate/MobileSubstrate.dylib</string>
	<string>/Library/PreferenceBundles/LaunchInSafeMode.bundle</string>
	<string>/Library/PreferenceLoader/Preferences/LaunchInSafeMode.plist</string>
	<string>/Library/Themes</string>
	<string>/private/var/binpack</string>
	<string>/private/var/checkra1n.dmg</string>
	<string>/private/var/lib/apt</string>
	<string>/usr/bin/diff</string>
	<string>/usr/bin/hostinfo</string>
	<string>/usr/bin/killall</string>
	<string>/usr/bin/passwd</string>
	<string>/usr/bin/recache</string>
	<string>/usr/bin/tar</string>
	<string>/usr/bin/which</string>
	<string>/usr/bin/xargs</string>
	<string>/usr/lib/libjailbreak.dylib</string>
	<string>/usr/lib/libsubstitute.0.dylib</string>
	<string>/usr/lib/libsubstitute.dylib</string>
	<string>/usr/lib/libsubstrate.dylib</string>
	<string>/usr/lib/substitute-loader.dylib</string>
	<string>/usr/lib/SBInject</string>
	<string>/usr/lib/SBInject.dylib</string>
	<string>/usr/lib/TweakInject</string>
	<string>/usr/lib/TweakInject.dylib</string>
	<string>/usr/lib/TweakInjectMapsCheck.dylib</string>
	<string>/usr/libexec/sftp-server</string>
	<string>/usr/sbin/sshd</string>
	<string>/usr/share/terminfo</string>
	<string>/var/mobile/Library/.sbinjectSafeMode</string>
	<string>/var/mobile/fakevar</string>
	<string>/var/MobileSoftwareUpdate/mnt1/fakevar</string>
	<string>/var/mobile/Library/Preferences/jp.akusio.kernbypass.plist</string>
	<string>/var/mobile/Library/Preferences/jp.akusio.kernbypass-unofficial.plist</string>
	<string>/var/mobile/Library/Preferences/jp.akusio.kernbypass2.plist</string>
</array>
</plist>
