Author: XsF1re
Maintainer: ichitaso
Package: kr.xsf1re.vnodebypass
Name: vnodebypass
Depends: firmware (>= 12.0)
Section: System
Version: 0.2.9
Architecture: iphoneos-arm
Description: An expermental tool to hide jailbreak files for bypass detection.
Depiction: https://cydia.ichitaso.com/depiction/vnodebypass.html
Tag: role::hacker, compatible::ios12, compatible::ios13, compatible::ios14
Icon: https://raw.githubusercontent.com/ichitaso/vnodebypass_theme/main/layout/Library/Themes/vnodebypass.theme/Icon.png
