Package: kr.xsf1re.vnodebypass
Name: vnodebypass
Version: 0.2.5
Architecture: iphoneos-arm
Description: An expermental tool to hide jailbreak files for bypass detection.
Maintainer: XsF1re
Author: XsF1re
Section: System
Tag: role::hacker
